* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-bg-color: rgb(14, 13, 13);
    --primary-color: #f4f4f4;
    --bg-btn: #1a1a1a;
    --crimson: #D7263D;
    --night: #02182B; 
    --font-outfit: "Outfit", sans-serif;
    --font-sans: "Work Sans", sans-serif;
}
button {
    cursor: pointer;
}

html, body, main {
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
 body {
    color: var(--primary-color);
    background-color: var(--body-bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-outfit);
}
.logo {
    font-size: 2rem;
    line-height: 0;
}
nav button {
    background-color: var(--bg-btn);
    border: none;
    outline: none;
    color: var(--primary-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-family: var(--font-outfit);
    font-size: 14px;
}
section {
    padding: 20px 50px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 30px;
}
.task-column {
    flex-grow: 1;
    background-color: var(--bg-btn);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.hover-over {
    border: 1px solid #ffffff5d;
    scale: 1.05;
}
.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-outfit);
}

.task {
    width: 100%;
    background-color: #2a2a2a;
    border-radius: 8px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: grab;
}
.task h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-outfit);
}
.task p {
    font-family: var(--font-sans);
    opacity: 0.7;
}
.task button {
    align-self: flex-end;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--crimson);
    color: #ffffffde;
    font-family: var(--font-sans);
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-active {
    display: flex;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 14, 0.283);
    -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.modal-center {
    width: 300px;
    height: 50vh;
    padding: 0 10px;
    background-color: var(--bg-btn);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 9;
}
.modal-center input, 
.modal-center textarea,
.modal-center select {
    width: 100%;
    background-color: #2a2a2a;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-family: var(--font-sans);
}
.modal-center textarea {
    height: 40%;
}
.modal-center button {
    width: 60%;
    background-color: var(--crimson);
    color: var(--night);
    color: #ffffffd8;
    border: none;
    outline: none;
    padding: 7px 12px;
    font-size: 1.4rem;
    border-radius: 8px;
    font-family: var(--font-outfit);
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
    }
}